<div class="container-fluid mt-5 w-75">
    <br><br>
    <h2>Profile</h2>
    <hr>

    <table class="table table-borderless">
        <tr>
            <td class="font-weight-bold">Name</td>
            <td>{{ user?.name }}</td>
        </tr>

        <tr>
            <td class="font-weight-bold">Email</td>
            <td>{{ user?.email }}</td>
        </tr>

        <tr>
            <td class="font-weight-bold">Image</td>
            <td>
                <div *ngIf="loading else loaded">
                    <button class="btn btn-primary" disabled>
                        <span class="spinner-grow spinner-grow-sm"></span>
                        Loading..
                    </button>
                </div>
                <ng-template #loaded>
                    <img src="http://localhost:4000/uploads/{{ user?.image }}" alt="{{ user?.image }}"  class="img-fluid img-thumbnail">
                </ng-template>
            </td>
        </tr>
    </table>

    <br><br>
    <button type="button" class="btn btn-success" routerLink="/edit-profile" routerLinkActive="active">Edit Profile</button>
</div>